<body>
<center><h1>Site Map</h1><center>

<p class="left"><a href="/aboutme">About me page</a></p>
<p class="left"><a href="/welcome">Welcome Page</a></p>
<p class ="left"><a href="/portfolio">Portfolio</a></p>
<p class ="left"><a href="/resume">Resume</a></p>
<p class ="left"><a href="/news">News</a></p>
<%= link_to("gallery", gallery_path) %>
</body>