<head>
</head>
<body>
<% if user_signed_in? && current_user.theme %>
	<%= "Your color is #{current_user.theme.color}"%>
<%end%>
	<center><%= link_to(image_tag("IMG_06.png"), sitemap_path)%></center>
<footer>
<p class="footer"><%= @shown_message%></p>
</footer>
</body>


