<h1>Portfolio</h1>

<ul>
<% @projects.each do |project_record| %>
	<li><%= project_record.name %></li>
	<li><%= project_record.description%></li>
	<li><%= project_record.file_name%></li></br>
<% end %>
</ul>