<h1>Gallery#index</h1>
<p>Find me in app/views/gallery/index.html.erb</p>


<ul>
	<% @image_names.each do |images|%>
	<li><%= image_tag(images + '.jpg')%></li>
	<% end %>
</ul>
<style>
	img {width: 20%;
		}
</style>