<head>
</head>
<body>
<h1 class="center">About me</h1>
<center><img src="/assets/IMG_04.jpg" alt="Wembley Fraggle"></center>
<p class="center">In lieu of my photo, here is my spirit animal</p>

<ul>
	<li>My name is Aaron.</li>
	<li>This is a list.</li>
	<li>I'm not good at self promotion</li>
</ul>	
</body>